<div class="outer">
    <div class= "main">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    </div>
</div>

<style>
 .main {
      display: inline-block;
      text-align: left;
      line-height:1.5;
      margin-top: 10px;
      margin-bottom:30px;
    }

.outer{
  text-align: center;
}
</style>